/*
  FONTS
*/
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 500;
  src: local('Baloo Thambi 2 Medium'), local('BalooThambi2-Medium'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-500.woff2') format('woff2'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Thambi 2 Regular'), local('BalooThambi2-Regular'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-regular.woff2') format('woff2'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 600;
  src: local('Baloo Thambi 2 SemiBold'), local('BalooThambi2-SemiBold'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-600.woff2') format('woff2'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 700;
  src: local('Baloo Thambi 2 Bold'), local('BalooThambi2-Bold'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-700.woff2') format('woff2'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 800;
  src: local('Baloo Thambi 2 ExtraBold'), local('BalooThambi2-ExtraBold'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-800.woff2') format('woff2'),
  url('../fonts/baloo-thambi-2-v1-latin/baloo-thambi-2-v1-latin-800.woff') format('woff');
}


/*
  CUSTOM-MEDIA-QUERIES (we can't use var in media queries values)
  https://preset-env.cssdb.org/features#custom-media-queries
*/
@custom-media --max-width-xs (max-width: 575px);

@custom-media --min-width-sm (min-width: 576px);
@custom-media --max-width-sm (max-width: 767px);

@custom-media --min-width-md (min-width: 768px);
@custom-media --max-width-md (max-width: 991px);

@custom-media --min-width-lg (min-width: 992px);
@custom-media --max-width-lg (max-width: 1199px);

@custom-media --min-width-xl (min-width: 1200px);
@custom-media --min-width-xl (max-width: 1599px);

@custom-media --min-width-xxl (min-width: 1600px);

:root {

  /*
    BREAKPOINTS
  */
  --breakpoint-xs-max: 575px;

  --breakpoint-sm-min: 576px;
  --breakpoint-sm-max: 767px;

  --breakpoint-md-min: 768px;
  --breakpoint-md-max: 991px;

  --breakpoint-lg-min: 992px;
  --breakpoint-lg-max: 1199px;

  --breakpoint-xl-min: 1200px;
  --breakpoint-xl-max: 1599px;

  /*
    COLORS
  */

  /* Definitions */
  --green: #14FFBF;
  --green-2: #14c685;

  --orange: #f6924e;
  --orange-2: #f58031;

  --blue: #19a9e0;

  --red: #e45447;

  --gray-dark: #2d2f34;
  --gray-slate: #284753;
  --gray-slate-2: #45575e;

  --white: #fff;

  /* Attributions */
  --primary-color: var(--green);
  --primary-color-hover: var(--green-2);

  --secondary-color: var(--orange);
  --secondary-color-hover: var(--orange-2);

  --link-color: var(--secondary-color);
  --link-color-hover: var(--secondary-color-hover);

  --border-color: var(--white);

  /*
    TEXT
  */
  --baloo-font: 'Baloo Thambi 2', arial, helvetica, sans-serif;
  --line-height: 1.5;
  --line-height-sm: 1.1;

  /*
    MAIN
  */
  --main-font: var(--baloo-font);
  --main-text-color: var(--white);
  --main-bg: var(--gray-dark);

  --main-font-size: 1.2rem;
  --main-line-height: var(--line-height);

  --font-weight-normal: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --font-weight-boldest: 800;

  /*
    SPACING
  */
  --spacer: 1rem;

  --space-xs: calc(var(--spacer) * 0.7);
  --space-sm: calc(var(--spacer) * 1);
  --space-md: calc(var(--spacer) * 1.3);
  --space-lg: calc(var(--spacer) * 2);
  --space-xl: calc(var(--spacer) * 3);

  /*
     CONTAINERS
  */
  --container-width: 1280px;
  --container-small-width: 40rem;
  --container-padding-x: 2rem;
  --container-padding-y: 2rem;
  --container-padding-sm-x: 1rem;
  --container-padding-sm-y: 1.5rem;
  --container-full-padding-x: 3.125rem;
  --container-small-padding-y: 1rem;
  --container-small-padding-sm-y: 1rem;

  /*
     HEADER
  */
  --header-bg: var(--gray-slate);
  --header-color: var(--white);
  --header-border-width: 5px;
  --header-border-style: solid;
  --header-border-color: var(--primary-color);

  /*
     FOOTER
  */
  --footer-bg: var(--gray-slate);
  --footer-color: var(--white);

  /*
     TITLE
  */

  --title-line-height: var(--line-height-sm);

  --title1-color: var(--white);
  --title1-font-size: 2.3rem;
  --title1-font-weight: var(--font-weight-normal);

  --title2-color: var(--primary-color);
  --title2-font-size: 1.7rem;
  --title2-font-weight: var(--font-weight-semi-bold);

  --title3-color: var(--white);
  --title3-font-size: 1.4rem;
  --title3-font-weight: var(--font-weight-semi-bold);

  /*
     BUTTONS
  */
  --btn-font: var(--main-font);
  --btn-font-size: var(--main-font-size);
  --btn-font-weight: var(--font-weight-normal);
  --btn-line-height: var(--line-height-sm);
  --btn-border-width: 1px;
  --btn-border-radius: 5px;
  --btn-border-style: solid;
  --btn-padding: var(--space-xs) var(--space-sm);
  --btn-transition: color ease-out 0.15s, background-color ease-out 0.15s, border-color ease-out 0.15s;

  --btn-main-border-color: var(--link-color);
  --btn-main-bg: var(--link-color);
  --btn-main-color: var(--white);
  --btn-main-border-color-hover: var(--link-color-hover);
  --btn-main-bg-hover: var(--link-color-hover);
  --btn-main-color-hover: var(--white);

  --btn-alt-border-color: var(--link-color);
  --btn-alt-bg: transparent;
  --btn-alt-color: var(--link-color);
  --btn-alt-border-color-hover: var(--link-color-hover);
  --btn-alt-bg-hover: var(--link-color-hover);
  --btn-alt-color-hover: var(--white);

  /*
     FORMS
  */
  --form-group-margin: var(--space-md);

  --form-label-margin: 0.5rem;
  --form-label-color: var(--primary-color);
  --form-label-font-weight: var(--font-weight-normal);

  --form-control-font: var(--main-font);
  --form-control-font-size: var(--main-font-size);
  --form-control-font-weight: var(--font-weight-normal);
  --form-control-border-width: 0 0 1px;
  --form-control-border-color: var(--border-color);
  --form-control-border-style: solid;
  --form-control-bg: transparent;
  --form-control-color: var(--white);
  --form-control-padding: var(--space-xs) var(--space-sm);

  /*
     BADGES
  */
  --badge-font-size: 75%;
  --badge-border-radius: 50%;
  --badge-padding: 5px;
  --badge-font-weight: var(--font-weight-bold);

  --badge-default-color: var(--main-text-color);
  --badge-default-bg-color: #ccc;

  --badge-primary-color: #fff;
  --badge-primary-bg-color: var(--primary-color);

  --badge-secondary-color: #fff;
  --badge-secondary-bg-color: var(--secondary-color);
}

/*
  INIT
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  background-color: var(--main-bg);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.error {
  color: var(--red);
}

.errors {
  color: var(--red);

  &:not(:first-child) {
    margin-top: var(--space-xs);
  }

  & p {
    margin: 0;
  }
}

/*
  Firefox needs more specificity to override default button outline
*/
:focus,
button[type="submit"]:focus,
button[type="button"]:focus {
  outline: 1px dashed rgba(255, 255, 255, 0.7);
  outline-offset: 2px;
  -moz-outline-radius: 3px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.part {

  &:not(:last-child) {
    margin-bottom: var(--space-md);
  }
}

.part-big {

  &:not(:last-child) {
    margin-bottom: var(--space-lg);
  }
}

.part-extra {

  &:not(:last-child) {
    margin-bottom: var(--space-xl);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.user-content {
  white-space: pre-wrap;
}

/*
 Don't know how to do it with css modules :
 Don't double spacing for 2 sibling sections (add exceptions if background may be different)
*/
.section + .section > .container {
  padding-top: 0;
}
