.header {
  background-color: var(--header-bg);
  color: var(--header-color);
  border-bottom: var(--header-border-width) var(--header-border-style) var(--header-border-color);
}

.linkTitle,
.linkTitle:focus,
.linkTitle:hover {
  color: inherit;
  text-decoration: none;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {

}

.header__logoLink {
  display: block;
}

.header__logoSvg {
  height: 4rem;
  fill: var(--primary-color);
}

.header__nav {

}

