.header {
  background-color: var(--header-bg);
  color: var(--header-color);
}

.header a,
.header a:hover,
.header a:focus {
  color: #fff;
}

.linkTitle,
.linkTitle:focus,
.linkTitle:hover {
  color: inherit;
  text-decoration: none;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {

}

.header__logoLink {
  display: block;
}

.header__logoSvg {
  height: 4rem;
  fill: var(--primary-color);
}

.header__nav {

}

.header__navList,
.header__navListItem {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__navList {
  display: flex;
  align-items: flex-end;
}

.header__navListItem + .header__navListItem {
  margin-left: var(--space-sm);
}

.header__navLink {
}
