.container {
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  padding: var(--container-padding-sm-y) var(--container-padding-sm-x);
}

@media (--min-width-md) {
  .container {
    padding: var(--container-padding-y) var(--container-padding-x);
  }
}

.containerSmall {
  width: var(--container-small-width);
}

.containerSmallPaddingY {

  padding-top: var(--container-small-padding-sm-y);
  padding-bottom: var(--container-small-padding-sm-y);

  @media (--min-width-md) {
    padding-top: var(--container-small-padding-y);
    padding-bottom: var(--container-small-padding-y);
  }
}

.containerFull {
  width: auto;

  @media (--min-width-lg) {
    padding-left: var(--container-full-padding-x);
    padding-right: var(--container-full-padding-x);
  }
}
