.icon {
  width: 1.2em;
  height: 1.2em;
  fill: white;
}

.iconBig {
  width: 2em;
  height: 2em;
}

.iconExtra {
  width: 2.8em;
  height: 2.8em;
}

.iconBlack {
  fill: var(--gray-dark);
}

.iconPrimary {
  fill: var(--primary-color);
}

.iconSecondary {
  fill: var(--secondary-color);
}
